<h2>My Heroes</h2>

<div>
  <label>
    Hero name:
    <!-- heroname input -->
    <input #heroName />
  </label>

  <!-- (click) passes input value to add() and then clears the input 
  The field is cleared so it is ready for another name -->
  <button (click)="add(heroName.value); heroName.value=''">add</button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span>{{hero.name}}    
    </a>
    <!-- Each hero in the heroes list should have a delete button.
    Add the following button element to the HeroesComponent template, after the hero name in the repeated <li> element. -->
    <button class="delete" 
            title="delete hero" 
            (click)="delete(hero)">
            x
    </button>
  </li>
</ul>